[submodule "NJsonSchema"]
	path = NJsonSchema
	url = https://github.com/mccsoft/NJsonSchema.git
	branch = react-query
[submodule "NSwag"]
	path = NSwag
	url = https://github.com/mccsoft/NSwag.git
	branch = react-query
